__pycache__/
wandb/
*.out
*.err
*.sh
*.db
*.txt
*.pt

export/
datasets/
optimization_runs/
optimization_results/
GEMS_errors*/
similarity_metrics*/
similarity_filtering/
training_runs/
diffsbdd_stuff/
lkhd_results*/
samples/
distribution_analysis/
plots_paper/
train_GEMS_for_diff.py
old_code/
