__pycache__/
wandb/
*.out
*.err
*.sh
*.db
*.txt
dataset*.pt
datasets/
*.pdf
*.sdf
logs/
.vscode/

optimization_runs/
optimization_results/
GEMS_errors/
training_runs/
diffsbdd_stuff/
lkhd_results*/
samples/
combine_csvs.py
*.xyz