__pycache__/
wandb/
*.out
*.err
*.sh
*.db
*.txt
dataset*.pt
datasets/
*.pdf
*.pdb
*.csv
*.sdf
*.pkl*
*.pt
logs/
.vscode/
*.json

optimization_runs/
optimization_results/
GEMS_errors/
training_runs/
diffsbdd_stuff/
lkhd_results*/
samples/
distribution_analysis/
combine_csvs.py
*.xyz
*bayesian.db*
example_dataset/
mini_example_dataset/
data_extracted_graphs/
*.png
mini_example_dataset_samples/